.lead {
  font-size: 4em;
  margin-top: 1.5em;
}

.content {
  font-size: 2em;
}

.ranking {
  font-size: 4em;
}

.section {
  width: 100%;
  padding: 20px;
  border: 5px solid black;
  margin: 10px 0 0 0;
  display: inline-block;
}

.column {
  width: calc(50% - 10px);
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: top;
}

.header {
  position: relative;
  z-index: 5;

  h2, a {
    position: relative;
    z-index: 10;
  }
}

.headerBg {
  position: absolute;
  top: -160px;
  left: -20vw;
  width: 120vw;
  height: 225%;
  z-index: 1;
  background-color: #000;
  transition: opacity 0.2s ease-in;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .headerBg {
    left: -40px;
  }
}
