.lead {
  font-size: 4em;
}

.smallLead {
  margin-top: 1em;
  font-size: 2em;
  overflow: hidden;
  height: 80px;
  transition: height 0.2s ease-in;
}

.leftBar {
  margin: 20px 0;
  width: 120px;
  display: inline-block;
  float: left;
  transition: width 0.5s ease-in;
}

.leftBarItem {
  height: 120px;
  font-size: 4em;
  margin: 10px 0;
  color: white;
  padding: 20px;
  transition: width 0.2s ease-in, height 0.1s ease-in;
  width: 120px;
  position: relative;
  overflow: hidden;

  &.unExpanded > div {
    width: 1000px;
    transition: opacity 0.2s ease-in;
  }

  &.unExpanded:hover {
    width: 120px !important;
  }

  &.expanded:hover {
    height: 140px;
  }

  h2 {
    position: absolute;
    right: 0;
    bottom: -17px;
  }

  div {
    position: absolute;
    left: 5px;
    bottom: -5px;
    font-size: 0.75em;
    transition: opacity 0.2s ease-in 0.5s;
    pointer-events: none;
    width: 80%;
  }
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 140px);
  margin: 20px 0 20px 20px;
  background-color: #fff;
}

.rightParent {
  position: relative;
}
