.lead {
  font-size: 6em;
  margin-top: 0.5em;
}

.leadRight {
  font-size: 6em;
  text-align: right;
  margin-top: 0.5em;
}

.content {
  margin-top: 1em;
  font-size: 2em;
  // font-weight: normal;
}
